# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Settings File
**/settings.json
/app/icons

# Environments
.env
.venv
env/
venv/
comic-translate-venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
toonkor_collector2/media/
vite-template/node_modules/

# uv
.python-version
pyproject.toml
uv.lock
