.inner {
  display: flex;
  gap: rem(40px);
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
  }
}

.image {
  width: rem(376px);
  height: rem(376px);
}

.linkButton {
  border: 0;
}
